version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - DATABASE_URL=postgresql://user:password@db:5432/lumbung
      - REDIS_URL=redis://redis:6379
      - AUTH_SECRET=your_jwt_secret
      - JWT_SECRET=your_jwt_secret
    depends_on:
      - db
      - redis
    command: /bin/sh -c "npx prisma db push --accept-data-loss && npm start"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:4000/api
      - NEXTAUTH_SECRET=your_jwt_secret
      - AUTH_SECRET=your_jwt_secret
    depends_on:
      - backend

  db:
    image: public.ecr.aws/docker/library/postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=lumbung
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: public.ecr.aws/docker/library/redis:7-alpine
    ports:
      - "6379:6379"
    command: redis-server --save "" --appendonly no
    # --save "" = Disable RDB snapshots (no auto-save to disk)
    # --appendonly no = Disable AOF (Append Only File) persistence

volumes:
  postgres_data:
